setuptools
wheel
torch==2.2.2+cu121
--extra-index-url https://download.pytorch.org/whl/cu121
torchaudio==2.2.2
torchvision==0.17.2+cu121
#nvidia-pyindex
--extra-index-url https://pypi.ngc.nvidia.com
#tensorflow==2.6.0
pyaudio
numpy
SpeechRecognition
faster-whisper
sentence-transformers
soundfile
langid
TTS
pydub
openai
typing_extensions==4.8.0
